@using Maple2.File.Parser.Xml.Item
@using Maplecodex2.Data.Models
<!-- Item Datatable -->
<div style="width: auto;" id="ItemTable_Wrapper">
    <table class="table-shadow table table-responsive table-bordered dataTable dtr-inline justify-content-center" id="ItemTable">
        <thead>
            <tr role="row" class="unselectable th-index-style">
                <th class="bg-success" rowspan="1" colspan="1">Icon</th>
                <th class="bg-success" rowspan="1" colspan="1">ID</th>
                <th class="bg-success" rowspan="1" colspan="1">Name</th>
                <th class="bg-success" rowspan="1" colspan="1">Feature</th>
                <th class="bg-success" rowspan="1" colspan="1">Type</th>
            </tr>
        </thead>
        <tbody id="itemTable">
            @foreach (Item newItem in Items)
            {
                <tr role="row" class="tr-index-style">
                    <DisplayIcon Item="@newItem.Data.property" />
                    <td class="col-xs-1 unselectable uncopied" id="itemTableId">@newItem.Info.Id</td>
                    <td class="col-xs-5">@newItem.Info.Name</td>
                    <td class="col-xs-1">@newItem.Data.slots.slot</td>
                    <td class="col-xs-1">@newItem.Data.Feature</td>
                    <td class="col-xs-1">@newItem.Info.Type</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code{
    [Parameter]
    public List<Item> Items { get; set; } = new();
}