@using Maplecodex2.Data
@using Maplecodex2.Data.Services
@using Maplecodex2.Data.Models
@using Maplecodex2.Data.Helpers
@using Maplecodex2.Database.Core

@inject ItemService ItemService

<!-- Container results. -->
<div class="container">
    <div class="form-inline">
        <!-- Search -->
        <form>
            <span class=""> Search ID: </span>
            <input class="form-control mr-sm-2" @bind-value="@Id" type="search" placeholder="type id, e.g 10200001" aria-label="Search">

            <label style="padding-left: 1vh;">
                Show
                <select aria-controls="ItemTable" class="form-inline input-sm">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                </select>
            </label>

        </form>
    </div>
    <!-- Item Datatable -->
    <div class="" style="width: auto;" id="ItemTable_Wrapper">
        <table class="table table-responsive table-striped table-bordered dataTable dtr-inline pagination justify-content-center" id="ItemTable">
            <thead>
                <tr role="row">
                    <th class="" rowspan="1" colspan="1">Icon</th>
                    <th class="sorting" rowspan="1" colspan="1">ID</th>
                    <th class="sorting" rowspan="1" colspan="1">Type</th>
                    <th class="sorting" rowspan="1" colspan="1">Name</th>
                    <th class="sorting" rowspan="1" colspan="1">Feature</th>
                    <th class="sorting" rowspan="1" colspan="1">Category</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Item newItem in ItemList)
                {
                    <tr role="row">
                        @if (string.IsNullOrEmpty(@newItem?.Icon))
                        {
                            <td class="col-xs-1"><img src="icon0.png" width="30vh" height="30vh" /> </td>
                        }
                        else
                        {
                            <td class="col-xs-1"> <img src="@newItem?.Icon" width="30vh" height="30vh" /> </td>
                        }
                        <td class="col-xs-1">@newItem?.Id</td>
                        <td class="col-xs-1">@newItem?.Type</td>
                        <td class="col-xs-5">@newItem?.Name</td>
                        <td class="col-xs-1">@newItem?.Feature</td>
                        <td class="col-xs-1">@newItem?.Category</td>
                    </tr>
                }
            </tbody>
        </table>
        <!-- Pagination -->
        <nav>
            <ul class="pagination pagination-sm justify-content-center">
                @foreach (PagingLink link in Links)
                {
                    <li @onclick="() => OnSelectedPage(link)" style="cursor: pointer;" class="page-item @(link.Hidden ? "hidden" : null) @(link.Active ? "active" : null) @(link.Enabled ? null : "disabled")">
                        <span class="btn-toolbar" href="#">@link.Text</span>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>

@code {
    public int Id { get; set; }
    public List<Item>? ItemList;
    public PagedList<Item>? PagedList;
    public List<PagingLink>? Links;
    public int PageSize = 10;

    // Initializer
    protected override async Task OnInitializedAsync()
    {
        PagedList = await ItemService.GetItemsPerPage(1, PageSize);
        ItemList = PagedList.Items;
        Links = DataHelper.CreatePaginationLinks(PagedList, 5);
    }

    // This is called by the pagination nav
    public async Task OnSelectedPage(PagingLink link)
    {
        if (link.Page == PagedList.CurrentPage || !link.Enabled) { return; }

        PagedList.CurrentPage = link.Page;
        PagedList = Id > 0 ? await ItemService.GetItemPerPageById(Id, link.Page, PageSize) : await ItemService.GetItemsPerPage(link.Page, PageSize);
        ItemList = PagedList.Items;
        Links.Clear();
        Links = DataHelper.CreatePaginationLinks(PagedList, 5);
    }
}