@namespace Maplecodex2.Components.Notification

@if (Visible)
{
    <div class="box-flex">
        <div class="box @Message.ClassByType">
            <!-- Title for the notification -->
        <div class="box-header">
                <div class="info">
                    <img src="@Message.ImgSrc" alt="error loading notification">
                    <span>@Message.TitleByType</span>
                </div>
                <div class="date">
                    <span><b>@Message.DateString</b></span>
                </div>
            </div>
            <!-- Content for the notification -->
            @if (!string.IsNullOrEmpty(Message.Message))
            {
                <div class="box-content">
                    <span>@Message.Message </span>
                </div>
            }
            <!-- Footer for the notification -->
            @if (!string.IsNullOrEmpty(Message.Footer))
            {
                <div class="box-footer">
                    <div class="line"></div>
                    <span><b>@Message.Footer</b></span>
                </div>
            }
        </div>
    </div>
}
